/* GLOBAL */
:root {
    font-family: sans-serif;
}

body {
    margin: 0;
}

h2 {
    font-size: 18;
    font-weight: 300;
}

/* NAVIGATION */
#nav-section ul {
    list-style-type: none;
}

#nav-section a:hover {
    color: #a2424d;
}

#nav-section li.active a {
    color: #a2424d;
}

#nav-section a {
    text-decoration: none;
    color: black;
    transition: color 0.5s ease;
}

#nav-section {
    border-bottom: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    align-content: center;
    flex-wrap: wrap;
}

#nav-list {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

/* MEDIA QUERIES */
/* DESKTOP*/
#nav-section {
    height: 18px;
    padding-top: 8px;
    padding-bottom: 8px;
}

#nav-section a {
    font-size: 15px;
}

#nav-list {
    width: 500px;
}

/* TABLET */
@media (min-width: 767px) and (max-width: 1023px) {
    #nav-section {
        height: 18px;
        padding-top: 8px;
        padding-bottom: 8px;
    }

    #nav-section a {
        font-size: 15px;
    }

    #nav-list {
        width: 500px;
    }
}

/* PHONE */
@media (max-width: 766px) {
    #nav-section {
        height: 30px;
        padding-top: 4px;
        padding-bottom: 4px;
    }

    #nav-section a {
        font-size: 15px;
    }

    #nav-list {
        width: 80vw;
    }
}


/* HEADER */
header {
    display: flex;
    justify-content: center;
}

header h1 {
    font-size: 30px;
    font-weight: 300
}

/* ESSAYS */
#essays-section {
    display: flex;
    width: 100%;
    justify-content: center;
}

#indiv-essay {
    display: flex;
    flex-direction: column;
    width: 500px;
}

/* LINKS */
#links-section {
    display: flex;
    width: 100%;
    justify-content: center
}

#links-section ul {
    list-style-type: none;
    width: 500px
}

#links-section a {
    text-decoration: none;
    color: #a2424d;
    transition: color 0.5s ease;
    display: flex;
}

#links-section a:hover {
    color: black;
}
