/* GLOBAL */
:root {
    font-family: sans-serif;
}

body {
    margin: 0;
}

/* NAVIGATION */
#nav-section ul {
    list-style-type: none;
}

#nav-section a:hover {
    color: #a2424d;
}

#nav-section li.active a {
    color: #a2424d;
}

#nav-section a {
    text-decoration: none;
    color: black;
    transition: color 0.5s ease;
}

#nav-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    align-content: center;
    flex-wrap: wrap;
}

#nav-list {
    display: flex;
    justify-content: space-between;
}


/*MEDIA QUERIES*/
/*DESKTOP*/
#nav-section {
    border-bottom: 1px solid lightgray;
    height: 1em;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: blue;

}

#nav-section a {
    font-size: 1em;
    background-color: green;
}

#nav-list {
    min-width: 500px;
    padding: 0;
    background-color: red;
}



/* HEADER */
header {
    display: flex;
    justify-content: center;
}

header h1 {
    font-size: 30px;
    font-weight: 300
}
